{% extends 'base.html' %}
{% block content %}
<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							{% for item in name_page %}
								<h1>{{item.title}}</h1>

							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{%url 'home'%}" >Главная</a>
								</li>
								<li class="breadcrumb-item active">
									{{item.title}}
								</li>
							</ol>
							{%endfor%}
							<div class="divider-15 d-none d-xl-block"></div>
						</div>
					</div>
				</div>
			</section>


			<section class="ls s-pt-50 s-pb-130 gallery-title">
				<div class="d-none d-lg-block divider-20"></div>
				<div class="container pb-5">
					<div class="row">
						<div class="col-lg-12">

							<div class="row isotope-wrapper masonry-layout c-mb-30" data-filters=".gallery-filters">

								{%for item in cat%}
									<div class="col-xl-4 col-md-6 web-design design branding">
										<div class="vertical-item text-center ls ms">
											<div class="item-media">
												<img src="{{item.photo_services.url}}"  alt="">
												<div class="media-links">
												</div>
											</div>
											<div class="item-content">
												<h6>
													<a href="{% for item in name_page %}{{item.slug}}{%endfor%}/{{item.slug}}">{{item.title}}</a>
												</h6>
												<div class="small-text link-a">
													<p style="padding: 1%">{{item.description_services}}</p>
												</div>

											</div>
										</div>
									</div>
								{%endfor%}


							</div>
							<!-- .isotope-wrapper-->
							<section class="ls s-pt-50 s-pb-130 gallery-item">
								<div class="container px-lg-0 px-2  pt-0 pb-5">
									<div class="d-none d-lg-block divider-60"></div>
									<nav class="navigation post-nav" role="navigation">
										<h2 class="screen-reader-text">Post navigation</h2>
										<div class="nav-links">
											{%for item in next_category%}
												<div class="nav-previous cover-image s-overlay ds">
													<div class="post-nav-image">
														<img src="images/gallery/01.jpg" alt="">
													</div>
													<div class="post-nav-text-wrap">
														<span aria-hidden="true" class="nav-subtitle color-main">{{item.title}}</span>
														<p class="nav-title">
															{{item.description}}
														</p>
													</div>
													<a href="{{item.slug}}" rel="prev"></a>
													</div>
											{%endfor%}
										</div>
									</nav>

								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
{% endblock %}